@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background-0: #101011;
    --color-background-100: #1c1c21;
    --color-background-200: #31313d;
    --color-background-300: #6e6e7c;
    --color-background-popup: #0c0c0e;
    --color-text: #f2f2f8;
    --color-text-lighter: #bbbbbe;
    --color-accent: #2020e8;
    --color-accentHover: #3d3dec;
    --color-accentLighter: #7474d5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
label,
small,
input:focus,
button {
    color: var(--color-text);
    background: none;
    outline: none;
}
