@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
    color: var(--color-text);
    background: none;
}

:root {
    --color-background-0: #f4f4f9;
    --color-background-100: #eeeef4;
    --color-text: #050528;
    --color-text-lighter: #050528;
}
